body {
background: #f3f2f3;
color: #000000;
font-family: Trebuchet MS, Arial, Times New Roman;
font-size: 12px;

}
#wrapper {
      
      margin: 60px auto;
      width: 900px;
      height: 1024px;
      <img src
      }
#header {
      background-image: url(https://img2.goodfon.ru/wallpaper/original/3/a8/astralis-logo-art-red-team.jpg);
      /*background-repeat: no-repeat;*/
      background-size: 940px 296px;
      /*background: black;*/
      height: 210px;
      img: url(icon.png);
      width: 925px;

      }
#bg{
      background-image: url(map.jpg);
}

.text{
      padding-left: 190px;
      color: black;
}
#panel{
border:30px outset red;


}
#back{
      color: grey;

}

.ayak{
      color: red;
      font-size:33px;
      font-family: Bell MT;
      text-align: center;
}
.lor{
    color: #f3f2f3;
    font-size: 20px;
    font-family: Arial;
}

}

#navigation {
      background: #a2a2a2;
      width: 900px;
      height: 20px;
      }
      #menu {
      background: #333333;
      float: left;
      width: 200px;
      height: 624px;
      }
      #content {
      background-image:url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612890284_180-p-cherno-krasnii-fon-dlya-yutuba-232.jpg) ;
      width: 925px;
      height: 1850px;
      }
#footer {
      background: #838283;
      height: 275px;
      width: 925px;
      }
.colon {
      white-space: nowrap;
}
.colom {
    white-space: normal;
    display: inline-block;
    width: 33%;
    height: 460px;
    vertical-align: top;
    background: white;
}
.colons {
      margin-right: 4%;
}
.off {
      color: #9932CC;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}
.atack {
      color:#black ;
      font-size:16px ;
      font-weight: 500;
      margin: 0;
      text-align: center;
}
/*.icon{
      background-image:url();
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      display: block; margin: 0 auto;
}*/
.texts{
      text-align: left;
      font-size: 15px;
      color: #black;
}
.icons1{
      background-image: url(https://assets.faceit-cdn.net/hubs/avatar/1837d0e9-9372-40aa-aea6-268d7a147015_1578326149989.jpg);
      text-align: center;
      display: block; margin: 0 auto;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: 100px 100px;

}
.icons2{
      background-image: url(https://steamuserimages-a.akamaihd.net/ugc/833574670412738362/5BF580F729A025151E7CC86CBAC225B788DF1335/);
      text-align: center;
      display: block; margin: 0 auto;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: 100px 100px;

}
.icons3{
      background-image: url(https://www.hltv.org/img/static/event/mvpSilver.png);
      text-align: center;
      display: block; margin: 0 auto;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: 100px 100px;

}

